<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
성별<input id="sex"></input>
닉네임<input id="nickname"></input>
<button id = "duplicate_nickname" onclick="duplicate()">중복 확인</button>
생년월일<input id="birthDate"></input>
<button onclick="onClick()">전송</button>
</body>
<script type="text/javascript">
    function duplicate(){
        var nickname = $('#nickname').val();
        $.ajax({
            contentType: "application/json",
            type:"GET",
            url: "/auth/nickname/" + nickname + "/duplicate",
            method: "GET",
            dataType: "json",
            success: function(data){
                alert(data);
            },
            error: function (data){
                console.log(data);
            }
        });
    }
    function onClick(){
        var data = {
            sex: $('#sex').val(),
            nickname: $('#nickname').val(),
            birthDate: $('#birthDate').val()
        };
        console.log(data);
        $.ajax({
            contentType: "application/json",
            type:"POST",
            url: "/auth/member",
            data: JSON.stringify(data),
            method: "POST",
            dataType: "json",
            success: function(data){
                alert(data);
            },
            error: function (data){
                console.log(data);
            }
        });
    }
</script>
</html>